* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.grey {
  color: rgb(92, 87, 87);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  border: 1px solid rgb(233, 224, 219);
  box-shadow: -5px 5px 5px rgb(216, 212, 212), 5px 5px 5px #cac4c4;
  width: 50%;
  padding: 0;
  margin: 32vh auto;
}

.first {
  margin: 0;
  padding: 0;
}

.first li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(167, 164, 164);
  height: 2vh;
  padding: 10px;
}

.first span {
  display: flex;
  font-size: 20px;
  font-weight: bolder;
}

.second i {
  cursor: pointer;
}

.first li i {
  margin: 0 10px;
}

form {
  display: flex;
  justify-content: space-between;
}

form input {
  font-style: italic;
  width: 70%;
  height: 4vh;
  border: none;
  padding: 0 10px;
}

form button {
  margin-right: 22px;
  border: none;
  background: transparent;
  pointer-events: none;
}

.iconR {
  height: 2vh;
}

.second {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.second li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(167, 164, 164);
  height: 4.5vh;
  padding: 0 20px 0 10px;
}

.second span {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 10px;
  cursor: pointer;
}

.left {
  margin-right: 5px;
  cursor: pointer;
}

p {
  font-size: 20px;
  margin: 0;
  text-align: center;
  cursor: pointer;
  padding: 1vh;
}

.second input {
  font-size: 20px;
  color: rgb(92, 87, 87);
}

.edit-text {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
