* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(./bck.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grey {
  color: rgb(92, 87, 87);
}

.white {
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: start;
  border: 1px solid rgb(233, 224, 219);
  box-shadow: -5px 5px 5px rgb(216, 212, 212), 5px 5px 5px #cac4c4;
  width: 90%;
  position: relative;
  top: 35vh;
  margin: auto;
}

.container h1 {
  text-align: center;
}

.first {
  margin: 0;
  padding: 0;
  background: #934a5f;
}

.first li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(167, 164, 164);
  height: 2vh;
  padding: 10px;
}

.first span {
  display: flex;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

.second i {
  cursor: pointer;
}

.first li i {
  margin: 0 10px;
}

form {
  display: flex;
  justify-content: space-between;
}

form button {
  margin-right: 22px;
  border: none;
  background: transparent;
  pointer-events: none;
}

.first button {
  border: none;
  background: transparent;
}

form input {
  font-style: italic;
  width: 50%;
  height: 4vh;
  border: none;
  padding-left: 15px;
}

.iconR {
  height: 2vh;
}

.tasks {
  display: grid;
  grid-template-columns: 1fr;
}

#sortlist{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#sortlist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(167, 164, 164);
  height: 4.5vh;
  padding: 0 20px 0 10px;
}

#sortlist span {
  display: flex;
  align-items: center;
}

.right {
  margin-right: 10px;
  cursor: pointer;
}

.left {
  margin-right: 5px;
  cursor: pointer;
}

.refresh {
  font-size: 20px;
}

.clear-all {
  font-size: 23px;
  border: none;
  cursor: pointer;
  margin: auto;
  padding: 1vh 0;
  margin-top: 35px;
  background: #934a5f;
  color: #fff;
  width: 100%;
}

.second input {
  font-size: 20px;
  color: rgb(92, 87, 87);
}

.check {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.check::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #eee4e4;
}

.check:checked::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: green;
}

.check:checked::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.edit-text {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.tasks ul:nth-child(odd) {
  background: #57648c;
  color: #fff;
  border: 2px solid #fff;
}

.tasks ul:nth-child(even) {
  background: #c2b4d6;
  color: #fff;
  border: 2px solid #fff;
}




@media only screen and (min-width: 678px) {
  .container {
    top: 20vh;
  }
}

.refresh:hover {
  font-size: 22px;
}

.clear-all:hover {
  color: rgb(240, 17, 17);
}

.dragging:hover {
  color:rgb(240, 17, 17);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
